<p-dialog
  [(visible)]="displayDialog"
  [modal]="true"
  [style]="{ width: '30rem' }"
  [header]="isEditing ? 'Editar Profissional' : 'Adicionar Profissional'"
>
  <form
    id="profissionalForm"
    [formGroup]="form"
    (ngSubmit)="salvarProfissional()"
    class="rounded shadow-sm"
  >
    <div class="flex flex-col gap-4">
      <div>
        <label for="nome" class="block text-sm font-medium text-gray-400 mb-1">Nome</label>
        <input
          pInputText
          id="nome"
          formControlName="nome"
          placeholder="Nome do profissional"
          class="w-full"
          pSize="small"
          type="text"
        />
      </div>
      <div>
        <label for="email" class="block text-sm font-medium text-gray-400 mb-1">Email</label>
        <input
          pInputText
          id="email"
          formControlName="email"
          placeholder="email@email.com"
          pSize="small"
          type="email"
          class="w-full"
        />
      </div>
      <div>
        <label for="telefone" class="block text-sm font-medium text-gray-400 mb-1">Telefone</label>
        <input
          pInputText
          pInputMask="(99) 99999-9999"
          id="telefone"
          formControlName="telefone"
          placeholder="(99) 99999-9999"
          pSize="small"
          type="text"
          class="w-full"
        />
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-2">
      <p-button (click)="displayDialog.set(false)" label="Cancelar" outlined="true"></p-button>
      <button
        pButton
        label="Salvar"
        type="submit"
        form="profissionalForm"
        [disabled]="form.invalid"
      ></button>
    </div>
  </ng-template>
</p-dialog>

<div class="w-full flex flex-col p-6">
  <div class="flex justify-between border-b border-neutral-800 items-center pb-6 mb-6">
    <div>
      <h1 class="text-2xl font-bold">Painel de Profissionais</h1>
      <p class="text-sm text-gray-500">Profissionais, serviços e horários</p>
    </div>
    <p-button
      (click)="abrirModalCadastro()"
      icon="pi pi-user-plus"
      size="small"
      label="Adicionar Profissional"
    ></p-button>
  </div>

  <div class="flex flex-wrap justify-evenly gap-4">
    @for (item of profissionais(); track item.id) {
      <p-card class="w-3xs" [style]="{ background: '#262626' }">
        <div class="flex flex-col gap-4 rounded justify-between h-full">
          <div>
            <div class="flex justify-between items-center">
              <p class="font-semibold text-lg">
                {{ item.nome }}
              </p>

              <span class="text-sm text-green-400" [class.text-red-400]="!item.ativo"
                ><i class="pi pi-circle-fill"></i
              ></span>
            </div>
            <p class="text-sm text-gray-500"><i class="pi pi-envelope mr-1"></i>{{ item.email }}</p>
            <p class="text-sm text-gray-500"><i class="pi pi-phone mr-1"></i>{{ item.telefone }}</p>
          </div>

          <div class="flex justify-end">
            <p-button
              (click)="abrirGerenciamentoProfissional(item)"
              size="small"
              label="Gerenciar"
              icon="pi pi-cog"
              outlined="true"
            >
            </p-button>
          </div>
        </div>
      </p-card>
    } @empty {
      <div class="text-center p-4 text-gray-500">Nenhum profissional cadastrado.</div>
    }
  </div>
</div>

@if (displayDrawer()) {
  <p-drawer
    [(visible)]="displayDrawer"
    position="right"
    [style]="{ width: '45rem' }"
    header="Gerenciar Profissional"
  >
    @if (profissionalSelecionado()) {
      <div class="flex flex-col h-full gap-6">
        <div class="flex justify-between items-start border-b border-neutral-800 pb-4">
          <div>
            <h3 class="text-xl font-bold text-gray-200">{{ profissionalSelecionado()?.nome }}</h3>
            <p class="text-sm text-gray-400">
              {{ profissionalSelecionado()?.email }} • {{ profissionalSelecionado()?.telefone }}
            </p>
          </div>
          <div class="flex gap-2">
            <p-button
              (click)="editarProfissional(profissionalSelecionado()!)"
              icon="pi pi-pencil"
              severity="secondary"
              size="small"
              label="Editar"
            >
            </p-button>
            @if (!profissionalSelecionado()?.ativo) {
              <p-button
                (click)="ativarProfissional(profissionalSelecionado()!)"
                icon="pi pi-check"
                size="small"
                label="Ativar"
                outlined="true"
              ></p-button>
            } @else {
              <p-button
                (click)="confirmDesativarProfissional(profissionalSelecionado()!.id)"
                icon="pi pi-trash"
                severity="danger"
                size="small"
                label="Desativar"
                outlined="true"
              >
              </p-button>
            }
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <div class="p-4 rounded-lg max-h-96 overflow-y-auto">
            <app-servicos [profissionalId]="profissionalSelecionado()!.id"></app-servicos>
          </div>
        </div>

        <hr class="border-neutral-800" />

        <div class="flex flex-col gap-2">
          <div class="p-4 rounded-lg max-h-96 overflow-y-auto">
            <app-carga-horaria [profissionalId]="profissionalSelecionado()!.id"></app-carga-horaria>
          </div>
        </div>
      </div>
    }
  </p-drawer>
}
