<h2 class="text-2xl font-bold">Lugares Famosos</h2>

<div class="flex flex-wrap">
  @for (lugar of lugares(); track lugar.id) {
    <div class="flex flex-col items-center text-center p-4 rounded-lg w-48">
      <div
        class="size-32 bg-neutral-300 rounded-xl mb-4 flex items-center justify-center overflow-hidden"
      >
        @if (lugar.image) {
          <img [src]="lugar.image" [alt]="lugar.nome" class="object-cover size-full" />
        } @else {
          <i class="pi pi-image text-3xl text-blue-950"></i>
        }
      </div>

      <h3 class="font-bold truncate w-full">
        {{ lugar.nome }}
      </h3>

      <p class="flex text-sm items-center gap-1 mt-1">
        <i class="pi pi-map-marker text-xs"></i>
        {{ lugar.endereco }}
      </p>
    </div>
  }
</div>
